# Ignore everything
*

# Except for these specific files and directories
!.gitignore
!README.md
!requirements.txt
!/Data_summary/
!/Data_summary/Tesselations/
!/Data_summary/Tesselations/*
!/myenv/*
!/Code/*
# !/Code/01_summary.ipynb
# !/Code/Tesselation.py

