# Ignore everything by default
*

# Exclude these specific directories and their contents from being ignored
# Allow the .gitignore file itself, README, and requirements.txt
!.gitignore
!README.md
!requirements.txt

# Allow specific directories and their contents
!/Data_summary/
!/Data_summary/Tesselations/
!/Data_summary/Tesselations/*

!/myenv/
!/myenv/**

!/Code/
!/Code/**


