# Ignore everything
*

# Except for these specific files and directories
!.gitignore
!/Data_summary/
!/Data_summary/Tesselations/
!/Data_summary/Tesselations/*

!/Code/
!/Code/01_summary.ipynb
!/Code/Tesselation.py

